.btn {
	border: .5px solid black;
}

.jumbotron {
	margin-top: 10px;
	margin-bottom: 0;
	border: .5px solid black;
}

#screen {
	height: 5px;
}

.buttonGroup .btn {
	width: 75%;
}

.buttonGroup {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 0;
	margin-top: 5px;
}

.buttons .buttonGroup:first-child {
	width: 98%;
}

.buttons {
	padding: 0;
}

.number, .operator:not(first-child), .clear, .delete {
	margin: 0px 1px;
}